* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Serif', serif;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    padding: 15px;
    max-width: 1100px;
    margin: auto;
}

/* Header Styling Start */
#header {
    transition: background-color 0.4s;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 99;
}

#header .open #navigation{
    transform: translateX(0px);
}

#header .open #nav-toggle {
    background-color: rgba(255, 255, 255, 0.2);
}

#header .scrolled {
    background-color: #3d405b;
}

#logo {
    width: 75%;
    display: inline-block;
    font-weight: bold;
}

#nav-toggle {
    width: 70px;
    display: inline-block;
    font-size: 1.7em;
    text-align: center;
    padding: 5px;
    background-color: rgb(0,0,0,.1);
    border-radius: 10px;
}

#header a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    opacity: 0.8;
}

#logo a{
    font-size: 1.7em;
    padding: 30px;
    padding-left: 15px;
    display: inline-block;
}

#navigation {
    width: 300px;
    position: absolute;
    background-color: #3d405b;
    min-height: 100vh;
    left: 0;
    transform: translateX(-300px);
    transition: transform 0.4s;
}

#navigation a{
    display: block;
    opacity: 0.8;
    text-transform: uppercase;
}

#navigation a:hover {
    opacity: 1;
}

/* Intro Styling Start */
#intro {
    background-image: linear-gradient(rgba(61, 65, 91, 0.8), rgba(61, 65, 91, 0.5)), url(../img/b2.jpg);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.intro-text {
    position: relative;
    top: 100px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
}

.intro-text h1 strong,
.intro-text h1 em {
    padding: 5px;
    font-size: 1.25em;
    display: block;
    color: #e07a5f;
    text-transform: uppercase;
}

.call-to-action {
    margin: 200px 0px;
}

.intro-text .call-to-action {
    width: 60%;
    margin: auto;
}

.btn {
    padding: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
}

.btn svg { /* icon selection */
    margin: 10px;
}

.btn-bg {
    color: #fff;
    background-color: #e07a5f;
}

.btn-highlight {
    color: #fff;
    background-color: #3d405b;
}

.intro-text .btn {
    display: block;
    margin: 10px 0px;
}

/* About Me Start */
#about-me {
    background-image: linear-gradient(rgba(61, 65, 91, 0.8), rgba(61, 65, 91, 0.5)), url(../img/b3.jpg);
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 0px;
    color: #fff;
    text-align: center;
}

.whoami-text h4{
    padding: 20px;
    font-size: 2em;
    text-transform: uppercase;
}

whoami-text p {
    padding: 10px, 0px;
}

/* Services Start */
.section-title {
    font-size: 2em;
    text-align: center;
    padding: 20px, 0px;
    text-transform: uppercase;
}

.service {
    margin: 20px, 0px;
    text-align: center;
}

.service:hover .service-icon {
    background-color: #e07a5f;
    outline: 5px solid #e07a5f;
    outline-offset: 5px;
}

.service-icon {
    font-size: 3.5em;
    margin: 30px 0px;
    background-color: rgba(0,0,0,.2);
    display: inline-block;
    padding: 20px;
    width: 110px;
    height: 110px;
    transform: rotate(45deg);
    transition: background-color 0.4s, outline 0.4s, outline-offset 0.4s;
    color: #fff;
    outline: 5px solid transparent;
    outline-offset: 0px;
}

.service-icon i {
    transform: rotate(-45deg);
}

.service-title {
    padding: 15px 0px;
    font-size: 1.7em;
    text-transform: uppercase;
}

.service-description {
    padding: 5px 0px;
}

#services .service:hover .service-description {
    opacity: 1;
}

#services .service-description {
    opacity: 0;
    transition: opacity 0.4s;
}